*{
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.chat-container {
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}
.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.chat-body {
    padding: 10px;
    height: 300px;
    overflow-y: auto;
}
.message {
    margin-bottom: 10px;
}
.message.bot {
    text-align: left;
}
.message.user {
    text-align: right;
}
.message p {
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    max-width: 70%;
}
.message.bot p {
    background-color: #f0f0f0;
    color: #333;
}
.message.user p {
    background-color: #007bff;
}
.input-container {
    padding: 10px;
    background-color: #f0f0f0;
}
.input-container input[type=text] {
    width: calc(100% - 20px);
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
}
.input-container button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
.input-container button:hover {
    background-color: #0056b3;
}